*{
    margin: 0;
    padding: 0;
}

#dabba
{
    width: 100px;
    height: 100px;
    position: absolute;
    border: 1px solid #000;
    animation: mavingDabba 5s linear;
  
}

@keyframes mavingDabba
{
    0%
    {
        top: 0px;
        left: 0px;
        background-color: red;
    }
    20%
    {
        top: 0px;
        left: 500px;
        background-color: blue;
    }
    50%
    {
        top: 500px;
        left: 500px;
        background-color: green;
    }
    75%
    {
        top: 500px;
        left: 0px;
        background-color: pink;
    }
    100%
    {
        top: 0px;
        left: 0px;
        background-color: aqua;
    }
}