#maindiv
{
    width: 700px;
    height: 700px;
    border: 1px solid black;
    background-color: aqua;
    display: flex;
}

.subdiv{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    background-color: pink;
}