#main {
  background-color: #edfeff;
  margin-left: 250px;
  margin-right: 250px;
  height: 900px;
  padding-top: 30px;
  margin-top: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}
#Enquiry {
  text-align: center;
}
#form {
  text-align: center;
  opacity: 60%;
}
#name {
  margin-left: 90px;
}
#person {
  margin-left: 90px;
  border-radius: 10px;
  width: 400px;
  border: 1px;
  padding: 15px;
}
#Contact {
  /* margin-left: 100px; */
  border-radius: 10px;
  width: 400px;
  border: 1px;
}
#number {
  /* margin-left: 100px; */
  border-radius: 10px;
  width: 400px;
  border: 1px;
  padding: 15px;
}
#Email {
  margin-left: 90px;
  border-radius: 10px;
  width: 400px;
  border: 1px;
}
#email {
  margin-left: 90px;
  border-radius: 10px;
  width: 600px;
  border: 1px;
  padding: 15px;
}
#Qualification {
  /* margin-left: 100px; */
  border-radius: 10px;
  width: 400px;
  border: 1px;
}
#qualification {
  /* margin-left: 100px; */
  border-radius: 10px;
  width: 200px;
  border: 1px;
  padding: 15px;
}
#College {
  margin-left: 90px;
  /* border-radius: 10px; */
  width: 600px;
  border: 1px;
}
#collage {
  /* margin-left: 100px; */
  border-radius: 10px;
  width: 850px;
  border: 1px;
  padding: 15px;
}
#Year {
  margin-left: 90px;
  border-radius: 10px;
  width: 400px;
  border: 1px;
}
#year {
  margin-left: 90px;
  border-radius: 10px;
  width: 400px;
  border: 1px;
  opacity: 60%;
  padding: 15px;
}
#branch {
  /* margin-left: 100px; */
  border-radius: 10px;
  width: 400px;
  border: 1px;
  padding: 15px;
}
#Interested {
  margin-left: 90px;
}
#Full {
  margin-left: 90px;
}
#DataS {
  margin-left: 90px;
}
#DataA {
  margin-left: 90px;
}
#Business {
  margin-left: 90px;
}
#Java {
  margin-left: 90px;
}
#Python {
  margin-left: 90px;
}
#C {
  margin-left: 90px;
}
#Other {
  margin-left: 90px;
}
#Source {
  margin-left: 32px;
}
#t {
  margin-left: 32px;
}
#e {
  margin-left: 32px;
}
#source {
  margin-left: 32px;
  border-radius: 10px;
  width: 400px;
  border: 1px;
  opacity: 60%;
  padding: 15px;
}
#Executive {
  margin-left: 32px;
  border-radius: 10px;
  width: 400px;
  border: 1px;
}
#executive {
  margin-left: 32px;
  border-radius: 10px;
  width: 400px;
  border: 1px;
  opacity: 60%;
  padding: 15px;
}
#Submmit {
  #submmit {
    font-style: bold;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(26, 24, 24);
    color: white;
    border: none;
    margin-top: 30px;
  }
  text-align: center;
}
#Cn {
  margin-left: 50px;
}
#Qc {
  margin-left: 50px;
}
#Br {
  margin-left: 50px;
}
#Sc {
  margin-left: 50px;
}
