@import "tailwindcss";

:root {
  /* primary */
  --primary: #E23744;          /* Zomato red */
  --primary-hover: #FF6F6F;
  
  /* secondary */
  --secondary: #FF6F6F;
  --secondary-hover: #FADADD;
  
  /* text */
  --text: #1C1C1C;             /* Zomato dark text */
  
  /* background */
  --background: #FFFFFF;
  --accent: #F8F8F8;
}

