@import "tailwindcss";

:root {
  /* primary */
  --primary: #e23744; /* Zomato red */
  --primary-hover: #ff6f6f;

  /* secondary */
  --secondary: #ff6f6f;
  --secondary-hover: #fadadd;

  /* text */
  --text: #1c1c1c; /* Zomato dark text */

  /* background */
  --background: #ffffff;
  --accent: #f8f8f8;
}
